click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
dataclasses==0.8; python_version >= "3.6" and python_version < "3.7"
flask==2.0.0; python_version >= "3.6"
itsdangerous==2.0.0; python_version >= "3.6"
jinja2==3.0.0; python_version >= "3.6"
markupsafe==2.0.0; python_version >= "3.6"
werkzeug==2.0.0; python_version >= "3.6"
